$secondary-color: rgba(0,0,0,0.15);
$dark-color: #333333;
$light-grey-color: #E5E5E5;
$white-color: #ffffff;
$light-logo-color: #7A7A7A;
$grey-color: #777777;
$link-color: #888;
$dark-grey-color: #555555;
$black-color: #000000;
$margin-right-auto: 0 auto 0 0;
$margin-left-auto: 0 0 0 auto;